html {
    background-color: #212121;
}

* {
    font-family: monospace;
    text-decoration: none;
}
span {
  margin-left: 5px;
}
.login-div {
    margin: 100px auto;
    width: 350px;
    padding: 60px;
    background-color: #353434;
    border-radius: 4%;
}

.login-div svg {
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
}

.logo {
    width: 150px;
    height: 150px;
    margin:0 auto;  
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
    border-radius: 50%;
}

.title, .subtitle {
    text-align: center;
    color: #304FF3;
}

.title {
    font-weight: bolder;
    font-size: 35;
}

.subtitle {
    font-size: 18px;
    margin-top: 10px;
}

.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;

}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
    margin: 10px;
}

.options button, .options input{
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: #212121;
    color: #304FF3;
}

.email, .password {
    display: block;
    border-radius: 30px;
    border: 1px solid #212121;
    padding: 5px;
    margin: 10px;
}

.email input, .password input {
    color: #304FF3;
}

.MonkeText {
    text-align: left;
    position:relative;
    font-family: monospace;
    color: #304FF3;
}

.Monkepic {
    border-color: #304FF3;
    border-radius: 3%;
    width: 500px;
    height: auto;
}

.Monkepfp {
    position: inherit;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.Container{
    text-align:center;
}

.LikeBox{
    margin-top:-30px;
    position: relative;
    text-align:right;
}
.LikeDislike{
    display: inline-block;
    position: inherit;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.CounterText{
    display: inline-block;
    text-align: right;
    position:relative;
    right: 2px;
    font-family: monospace;
    color: #304FF3;
    margin-left: 5px;
}

.AccountBox{
    display:inline-block;
    text-align:left;
}

.PostInfo{
    width:500px;
    display: inline-block;
    text-align:left;
}
